<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-title>
            <h1>{{ 'core.login.login' | translate }}</h1>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [ariaLabel]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
            <ion-button fill="clear" (click)="showHelp()" [ariaLabel]="'core.help' | translate">
                <ion-icon slot="icon-only" name="far-circle-question" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding limited-width">
    <core-loading [hideUntil]="pageLoaded">
        <ng-container *ngIf="!siteCheckError && site && credForm">
            <div class="ion-text-wrap ion-text-center core-login-info-box">
                <div class="core-login-site">
                    <div class="core-login-site-logo">
                        <!-- Show site logo or a default image. -->
                        <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" alt="" core-external-content
                            onError="this.src='assets/img/login_logo.png'">
                        <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation" alt="">
                    </div>

                    <!-- <h2 *ngIf="siteName" class="ion-margin-top ion-no-padding core-sitename">
                        <core-format-text [text]="siteName" [filter]="false" />
                    </h2> -->
                    <!-- <p class="core-siteurl" *ngIf="displaySiteUrl">{{site.siteUrl}}</p> -->
                </div>

                <core-login-exceeded-attempts *ngIf="exceededAttemptsHTML && supportConfig && loginAttempts >= 3"
                    [supportConfig]="supportConfig" [supportSubject]="'core.login.exceededloginattemptssupportsubject' | translate">
                    <div [innerHTML]="exceededAttemptsHTML" (click)="exceededAttemptsClicked($event)"></div>
                </core-login-exceeded-attempts>
            </div>






            <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                <ion-item>
                    <ion-label class="sr-only">{{ 'core.login.username' | translate }}</ion-label>

                    <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username"
                        autocapitalize="none" autocorrect="off" autocomplete="username" enterkeyhint="next" required="true">
                    </ion-input>
                </ion-item>

                <ion-item class="ion-margin-bottom">
                    <ion-label class="sr-only">{{ 'core.login.password' | translate }}</ion-label>
                    <core-show-password name="password">
                        <ion-input name="password" type="password" placeholder="{{ 'core.login.password' | translate }}"
                            formControlName="password" [clearOnEdit]="false" autocomplete="current-password" enterkeyhint="go"
                            required="true">
                        </ion-input>
                    </core-show-password>
                </ion-item>

                <ion-button expand="block" type="submit" [disabled]="!credForm.valid"
                    class="ion-margin core-login-login-button ion-text-wrap">
                    {{ 'core.login.loginbutton' | translate }}
                </ion-button>
            </form>



            <ion-list *ngIf="canSignup || authInstructions" class="ion-padding-top core-login-sign-up">

                <!---   <ion-button *ngIf="canSignup" expand="block" class="ion-margin ion-text-wrap" fill="outline" (click)="openEmailSignup()">
                       {{ 'core.login.startsignup' | translate }}
                   </ion-button>-->

                <ion-button expand="block" class="ion-margin ion-text-wrap" fill="outline">
                    <!--  {{ 'core.login.startsignup' | translate }} -->
                    <!--<p class="core-siteurl">Register Now</p> -->
                    <!-- <p class="core-siteurl"><a href="https://stc.netvidya.com/login/signup.php?id=3">Register Now</a></p>-->

                    <a class="button button-assertive" href="#"
                        onclick="window.open('https://tms.takamoldemo.net/local/iomad_signup/signup.php', '_system', 'location=yes'); return false;">Create
                        new account</a>


                </ion-button>

            </ion-list>



        </ng-container>

        <core-empty-box *ngIf="siteCheckError" icon="fas-circle-exclamation" [message]="siteCheckError">
            <ion-button expand="block" (click)="checkSite()" fill="outline">
                {{ 'core.tryagain' | translate }}
            </ion-button>
        </core-empty-box>

    </core-loading>
</ion-content>
